<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guohaohome.moviedb.dao.LineMapper">
    <select id="getLines" parameterType="String" resultType = "com.guohaohome.moviedb.sqlEntity.Line">
        select * from movie_lines where id = #{ID}
    </select>

    <insert id="insertLine" parameterType="com.guohaohome.moviedb.sqlEntity.Line">
        insert into movie_lines (id,sentence,author,line_id) values(#{id,jdbcType=VARCHAR},#{sentence,jdbcType=VARCHAR}
            ,#{author,jdbcType=VARCHAR},#{line_id,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteLine" parameterType="String">
        delete from movie_lines where line_id = #{line_id}
    </delete>
</mapper>