<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guohaohome.moviedb.dao.MovieMapper">
    <insert id="insertMovie" parameterType="com.guohaohome.moviedb.sqlEntity.Movie">
        insert into movie (id,name) values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR})
    </insert>

    <select id="getNameByID" parameterType="String" resultType="String">
        select name from movie where id = #{ID}
    </select>

    <select id="getIDByName" parameterType="String" resultType="String">
        select ID from movie where name = #{name}
    </select>

    <select id="getAllID" resultType="java.lang.String">
        select ID from movie
    </select>

    <select id="updateNameByID">
        update movie set name = #{newName} where ID = #{ID}
    </select>

    <delete id="deleteMovieByID" parameterType="String">
        delete from movie where id = #{ID}
    </delete>
</mapper>